doctype
html
	head 
		title Future-Imperfect
		meta(charset="utf-8")
		link(rel="stylesheet" href="assets/css/bootstrap.css")
		link(rel="stylesheet" href="assets/css/font-awesome.min.css")
		link(rel="stylesheet" href="assets/css/main.css")
	body 
		header
			.container-fluid
				nav.navegador
					ul
						li
							a(href="#") 
								h1 FUTURE IMPERFECT
						li
							a(href="#") HOME
						li 
							a(href="#") ABOUT US
						li 
							a(href="#") SERVICES
						li 
							a(href="#") GALLERIES
						li 
							a(href="#") CONTACT 
						li
							a(href="#")
								span.fa-search
								span.fa-heart
		section.future
			.container-fluid
				img(src="images/logo.jpg")
				h1 FUTURE IMPERFECT
				p ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HTML5 UP
		.container
			section.magna
				.row
					.col-md-9
						h2 MAGNA SED ADIPISCING
						p LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
					.col-md-3
						h4 NOVEMBER 1, 2015
						p JANE DOE 
						img(src="images/avatar.jpg").perfil
				.row
					img(src="images/pic01.jpg").fondo
					p Mauris neuqe quam, fermentum ut nist vitae, convallis maximuns nisl. sed mattis nunc id lorem euismod placerat. Vivamus portitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. sed vitae justo condimentum, porta vitae, ultricies congue gravia diam non frigilla.
				.row
					.col-md-8
						a(href="#") 
							p CONTINUE READING
					.col-md-4
						p GENERAL
						a(href="#") 
							p 28