doctype
html
	head 
		title Future-Imperfect
		meta(charset="utf-8")
		link(rel="stylesheet" href="assets/css/main.css")
		link(rel="stylesheet" href="assets/css/main.css")
	body 
		header
			.container-fluid
				nav.navegador
					ul
						li
							a(href="#") FUTURE IMPERFECT
						li
							a(href="#") HOME 
						li 
							a(href="#") ABOUT US
						li 
							a(href="#") SERVICES
						li 
							a(href="#") GALLERIES
						li 
							a(href="#") CONTACT